{erl_opts, [debug_info]}.
{deps, [
       ]}.

{plugins, [pc, rebar3_eqc]}.

{port_specs,[
             {"(linux)", "priv/vrrp_socket.so", ["c_src/*.c"]}
            ]}.

{provider_hooks, [
                  {pre, [
                         {compile, {pc, compile}},
                         {clean,   {pc, clean}}
                        ]}
                 ]}.

{relx,
 [{release, {vrrp, "0.1.0"},
    [vrrp]}

 , {include_erts, false}
  , {extended_start_script, true}]}.
